@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  @apply
  sm:w-1/6
    sm:h-screen
    h-1/6
    sm:flex-col
    flex-row
    text-white
    bg-slate-900
    flex
    justify-evenly
    items-center;
}

.content {
  @apply
  bg-slate-200
  w-screen sm:w-5/6
  h-5/6 sm:h-screen
  overflow-auto;
}

.input {
  @apply
  px-6
  h-12
  font-semibold
  tracking-wider
  border-2
  border-black
  bg-teal-400
  text-black
  placeholder-white;
}

.button {
  @apply
  px-6
  h-12
  uppercase
  font-semibold
  tracking-wider
  border-2
  border-black
  bg-teal-400
  text-black;
}

.box {
  @apply
  bg-slate-100
  shadow-md
  m-4
  p-4;
}